<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrLzNjZboqCKbMLmHBMGEomeWPqYd0SiM</string>
	<key>GCM_SENDER_ID</key>
	<string>309979758159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gp.Ain</string>
	<key>PROJECT_ID</key>
	<string>ain-5ee1b</string>
	<key>STORAGE_BUCKET</key>
	<string>ain-5ee1b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309979758159:ios:4975fd376feb232579f43a</string>
</dict>
</plist>