<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict/>
    </array>
    
    <!-- Camera Usage Description -->
    <key>NSCameraUsageDescription</key>
    <string>We use the camera to assist visually impaired users by identifying objects and recording videos.</string>
    
    <!-- Bluetooth Usage Description -->
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app uses Bluetooth to connect to GoPro for recording and remote control.</string>
    
    <!-- Photo Library Add Usage Description -->
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need access to save recorded videos to your photo library.</string>
    
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We use your location to check the connected Wi-Fi network.</string>

</dict>
</plist>
